.right {
  float: right;
  width: 49%;
}

.left {
  float: left;
  width: 49%;
}

hr {
  clear: both;
}

.reveal .footer {
  width: 100%;
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.4em;
  color: #555;
  background-color: #eee;
  text-align: center;
  padding-left: 0.5em;
}

.reveal section img { 
  border: none;
  outline: none;
}

.tree ul {
	padding-top: 20px; position: relative;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
}

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}

.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

.tree li:only-child{ padding-top: 0;}

.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li p {
	border: 1px solid #ccc;
	padding: 15px 15px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 40px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}